Repository calderast/jdb_to_nwb, pull requests merged in 2025-04, with the labels that each got.

#110 Frank lab: Handle jitter in barrier shift DIOs, black formatting
  frank_lab/Add_Behavior_to_NWB.ipynb
  frank_lab/convert_behavior_Frank_lab.py
Labels: behavior, frank-lab

#113 Adjust beam break threshold, improve arduino parsing debug output
  src/jdb_to_nwb/convert_behavior.py
Labels: behavior

#116 Improve hex centroids file generation, minor logging and spyglass updates
  frank_lab/convert_behavior_Frank_lab.py
  frank_lab/position_tracking/README.md
  frank_lab/position_tracking/Xulu_hex_coordinates.xlsx
  pyproject.toml
  resources/Get_Hex_Centroids.ipynb
  resources/README.md
  resources/frank_lab/centroids/20240222_MazeNoBarriers_hex_coordinates.csv
  resources/frank_lab/centroids/20240530_BraveLu_hex_coordinates.csv
  resources/frank_lab/centroids/20240629_Hexmaze_hex_coordinates.csv
  resources/frank_lab/centroids/20241123_Mario_hex_coordinates.csv
  resources/frank_lab/centroids/20250210_Luna_hex_coordinates.csv
  resources/frank_lab/centroids/hex_coordinates.csv
  resources/frank_lab/video_files/20240222_MazeNoBarriers.1.h264
  resources/frank_lab/video_files/20240530_BraveLu_Maze_No_Barrier.1.h264
  resources/frank_lab/video_files/20240629_Hexmaze_permanent_barriers.1.h264
  resources/frank_lab/video_files/20241123_Mario_Hexmaze_NoBarriers.1.h264
  resources/frank_lab/video_files/20250210_Luna_Hexmaze_NoBarriers.h264
  resources/frank_lab/video_files/maze_empty.h264
  resources/frank_lab/video_files/maze_with_permanent_barriers.h264
  src/jdb_to_nwb/convert.py
  src/jdb_to_nwb/convert_behavior.py
  src/jdb_to_nwb/convert_video.py
Labels: video / dlc

#117 Update photometry devices metadata in resources
  resources/photometry_devices.yaml
  src/jdb_to_nwb/convert.py
  tests/test_convert_photometry.py
Labels: photometry

#115 Add Probe, Shank, ShanksElectrode, and ElectrodeGroup for spyglass; use ephys device yaml
  resources/256-ch Silicon Probe, 3mm length, 66um pitch_channel_coords.png
  resources/256-ch Silicon Probe, 6mm length, 80um pitch_channel_coords.png
  resources/ephys_devices.yaml
  src/jdb_to_nwb/convert_behavior.py
  src/jdb_to_nwb/convert_raw_ephys.py
  src/jdb_to_nwb/plotting/plot_ephys.py
  tests/metadata_example.yaml
  tests/test_convert_raw_ephys.py
Labels: ephys, spyglass
